<!DOCTYPE html>
<html>
  <head>
    <script src="/public/libraries/jquery-1.7.2.js"></script>
    <script src="/public/libraries/underscore-1.3.3.js"></script>
    <script src="/public/libraries/backbone-0.9.2.js"></script>
    <script src="/public/my.js"></script>
  </head>
  <body>

    <!-- a placeholder for my list of things, with an input for adding new things -->

    <div id="mainview">
      <input id="add-input" type="text" />
      <button id="add-btn">Add thing</button>
      <ul></ul>
    </div>

    <!-- the thing list template -->

    <script type="text/template" id="mainview-template">
      <% thinglist.each(function(athing) { %>
        <li>
          <%= athing.get('name') %>
          <button class='thing-del-btn' id='del-<%= athing.cid %>'>delete</button>
        </li>
      <% }) %>
    </script>
  </body>
</html>